#chat-screen {
  background-color: #b0c7db;
  height: 300vh;
}


#chat-screen .status-bar {
  position: fixed;
  top:0;
  background-color: #b0c7db;
}

#chat-screen .alt-header {
  position: fixed;
  top:-4px;
  background-color: #b0c7db;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.chat__timestamp {
  color: black;
  opacity: 0.8;
  background-color: #92a4b2;
  padding: 8px;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.chat__timestamp i {
  margin-right: 3px;
}

@keyframes fadeIn {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInrev {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translateX(15px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}



.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeIn .6s linear;
}

.message-row--own {
  animation: fadeInrev .6s linear;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin-right: 7px;
}

.message__author {
  opacity: 0.9;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 6px 11px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.message__time {
  font-size: 11px;
  margin-left: 4px;
  opacity: 0.9;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  margin-right: 0px;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px var(--horizontal-space);
  align-items: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 0px 0px 0px 13px;
  height: 28px;
  width: 100%;
  border:var(--main-border);
  border-radius: 20px;
  transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -14px;
  top: 1px;
}

.reply__column:last-child > i {
  right: 35px;
  top:14px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-win,
.reply button {
  transition: opacity .3s ease-in-out;
}



.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-win,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 92vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
