#chat-screen {
  background-color: #b0c7db;
  height: 10000vh;
}


#chat-screen .status-bar {
  position: fixed;
  top:0;
  background-color: #b0c7db;
}

#chat-screen .alt-header {
  position: fixed;
  top:-4px;
  background-color: #b0c7db;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.chat__timestamp {
  color: black;
  opacity: 0.8;
  background-color: #92a4b2;
  padding: 8px;
  border-radius: 15px;
  font-size: 14px;
}

.chat__timestamp i {
  margin-right: 3px;
}


.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}