#chat-screen {
  background-color: #b0c7db;
  height: 10000vh;
}


#chat-screen .status-bar {
  position: fixed;
  top:0;
  background-color: #b0c7db;
}

#chat-screen .alt-header {
  position: fixed;
  top:-4px;
  background-color: #b0c7db;
}
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 100px;
}