.settings__setting {
  padding: 18px 0px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 10px;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
  opacity: 0.8;
}

.settings__setting-column i{
  transition: all 0.2s ease-in-out;
}

.settings__setting-column span {
  transition: all 0.2s ease-in-out;
}

.settings__setting-column:hover span{
  cursor: pointer;
  color: var(--yellow);
}

.settings__setting-column:hover i{
  cursor: pointer;
  color: var(--yellow);
}

.settings__setting-column:last-child:hover {
  cursor: auto;
  color: rgba(0,0,0,0.6);
}

.settings__setting-column:last-child {
  opacity: 0.5;
  font-size: 14px;
}
