.user-component {
  display: flex;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.user-component__title {
  font-weight: 600;
  font-size: 17px;
}

.user-component__subtitle {
  margin-top: 6px;
  color: rgba(0,0,0,.4);
  font-size: 14px;
}

.user-component__avatar--xl {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}